<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingresa tu Información</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>
<body>
<div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Progrmación Lineal</a></li>
            <li role="presentation"><a href="#">Método Gráfico</a></li>
            <li role="presentation" class="active"><a href="#">Método Simplex</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>Bucket List App</h1>
        <form class="form-signin">
        <label class="sr-only">Z</label>
        <input type="number" name="za" id="z1" class="form-control" placeholder="x1" required autofocus>
        <input type="number" name="za" id="z2" class="form-control" placeholder="x2" required autofocus>
        <label class="sr-only">Z</label>


        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Resolver</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
</body>
</html>