{% extends "template.html" %}

{% block contenttitle %}
<title>Método Simplex</title>
{% endblock %}

{% block contentbody %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h2 class="border-bottom border-gray pb-2 mb-0">Ingreso de Datos: </h2>
    <!--TITULO-->
    <form action="/msimplexsol" method="POST">
    <div class="row-md-4 mb-3">
        <br>
        
          <div class="col-md-6"></div>
          <label for="firstName">Función Objetivo</label>
          <input type="text" class="form-control" id="restricts" name="objetivo" placeholder="" value="" required="">
          <br>
          <label for="firstName">Restricciones</label>
          <input type="text" class="form-control" id="desicion" name="restricc" placeholder="" value="" required="">
          <br>
          <label for="firstName">Vector Solución</label>
          <input type="text" class="form-control" id="desicion" name="vsolucion" placeholder="" value="" required="">
          <br>
          <label for="firstName">Ecuación Simplificada</label>
          <input type="text" class="form-control" id="desicion" name="esimple" placeholder="" value="" required="">
          <br>
          <label for="firstName">Resultado de la Ecuación</label>
          <input type="text" class="form-control" id="desicion" name="resultado" placeholder="" value="" required="">
          </div>
        <div class="col-md-6"></div>
        <input  class="btn btn-primary btn-lg btn-block" type="submit" id="send_restricts" />
        <div class="invalid-feedback">
          Valid number is required
        </div>
        </div>
      </form>
        
      </div>
    
</div>
{% endblock %}